/*FUENTES para BODY y H1*/

@import url('https://fonts.googleapis.com/css2?family=Federo&family=Gayathri:wght@100;400;700&display=swap');

/*RESET*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*BODY*/

body{
    font-family: 'Gayathri', sans-serif;
    font-weight: 400;
    background-color: #E3DAD5;
}

/*H1*/

.navbar section a h1 {
    font-family: 'Federo', sans-serif;
    font-size: 3.125rem;
    text-decoration: none;
}

/*NAVBAR*/

.navbar{
    background-color: #E3DAD5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1.25rem;
}

.navbar ul li{
    list-style: none;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 2.1875rem;
    align-items: center;
    justify-content: center;
}

.navbar a {
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}

.top-header{
    background-color: #E8E8E8;
    text-align: center;
    padding-top: .3125rem;
}

.sitio-actual{
    text-decoration: underline;
}

/*PORTADA FOTO*/

.foto-portada{
    background: url(../assets/img/foto-principal-completa.webp);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.foto-portada img{
    width: 100%;
    overflow: hidden;
}

/*TRES FOTOS JUNTAS*/

.tres-fotos{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 3.125rem;
    width: 100%;
    padding: 1.25rem;
}

section div h2{
    font-size: 2.1875rem;
    align-self: center;
}

.fotoback-tapados {
    grid-area: tapados;
    background-image: url(../assets/img/tapados-foto-completa.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 13.75rem;
}

.fotoback-jeans {
    grid-area: jeans;
    background-image: url(../assets/img/jeans-foto-completa.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 15.625rem;
}

.fotoback-sweaters {
    grid-area: sweaters;
    background-image: url(../assets/img/sweaters-foto-completa.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 13.75rem;
}

/*CARROUSEL*/

.carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    row-gap: 2.5rem;
}

.carrousel-cards {
    border-radius: 5%;
}

/*INFO COMPRA*/

.info-compra {
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15.625rem;
    margin: 1.25rem 0rem;
    padding: 1.5625rem 0rem;
}

.info-compra div{
    justify-content: center;
    align-items: center;
}

.info-compra p{
    justify-content: center;
    text-align: center;
    font-size: 1.375rem;
}

/*FOOTER*/

footer{
    background-color: #E8E8E8;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 3.125rem;
}

.preguntas-footer{
    gap: 3.125rem;
}

.preguntas-footer a {
    text-decoration: none;
    color: black;
}

footer div h4{
    font-size: 1.25rem;
}

footer div ul{
    list-style: none;
}

.footer-1{
    display: flex;
    gap: 3.125rem;
}

/*TIENDA*/

.imgs-tienda{
    border-radius: 5%;
}

/*NOSOTROS*/

.main-nosotros{
    background-image: url("../assets/img/bodyimg-nosotros.jpg");
    background-repeat: no-repeat;
}