/*NOSOTROS*/

.main-nosotros{
    @include flex(row,wrap,center,center);
}

.bloque-nosotros{
    @include flex(column,wrap,center,center);
    width: 56.25rem;
    height: 44rem;
    margin-top: 9.375rem;
    margin-bottom: 9.375rem;
    border-radius: 10px;
    background-color: $color-principal;
    padding: 3.125rem;
}

.nosotros-crueltyfree{
    @include flex(column,wrap,center,center);
}